# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
accelerate=1.0.1=pypi_0
aiofiles=23.2.1=pypi_0
aiohappyeyeballs=2.4.3=pypi_0
aiohttp=3.10.10=pypi_0
aiosignal=1.3.1=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.6.2.post1=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asgiref=3.8.1=pypi_0
asttokens=2.4.1=pyhd8ed1ab_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=24.2.0=pypi_0
babel=2.16.0=pypi_0
backoff=2.2.1=pypi_0
bcrypt=4.2.1=pypi_0
beautifulsoup4=4.12.3=pypi_0
blas=1.0=mkl
bleach=6.1.0=pypi_0
brotli-python=1.0.9=py39h99910a6_9
build=1.2.2.post1=pypi_0
ca-certificates=2024.9.24=haa95532_0
cachetools=5.5.0=pypi_0
certifi=2024.8.30=pyhd8ed1ab_0
cffi=1.17.1=py39ha55e580_0
charset-normalizer=3.3.2=pyhd8ed1ab_0
chroma-hnswlib=0.7.6=pypi_0
chromadb=0.5.23=pypi_0
click=8.1.7=pypi_0
colorama=0.4.6=pyhd8ed1ab_1
coloredlogs=15.0.1=pypi_0
comm=0.2.2=pyhd8ed1ab_1
contourpy=1.3.0=pypi_0
cpuonly=2.0=0
cpython=3.9.20=py39hd8ed1ab_1
cycler=0.12.1=pypi_0
dataclasses-json=0.6.7=pypi_0
datasets=3.0.1=pypi_0
debugpy=1.8.7=py39ha51f57c_0
decorator=5.1.1=pyhd8ed1ab_1
defusedxml=0.7.1=pypi_0
deprecated=1.2.15=pypi_0
dill=0.3.8=pypi_0
distro=1.9.0=pypi_0
dnspython=2.7.0=pypi_0
durationpy=0.9=pypi_0
email-validator=2.2.0=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_1
executing=2.1.0=pyhd8ed1ab_1
fastapi=0.115.5=pypi_0
fastapi-cli=0.0.5=pypi_0
fastjsonschema=2.20.0=pypi_0
ffmpy=0.4.0=pypi_0
filelock=3.13.1=pyhd8ed1ab_0
flatbuffers=24.3.25=pypi_0
fonttools=4.55.0=pypi_0
fqdn=1.5.1=pypi_0
freetype=2.12.1=hdaf720e_2
frozenlist=1.4.1=pypi_0
fsspec=2024.6.1=pypi_0
giflib=5.2.2=h64bf75a_0
gmpy2=2.1.2=py39h7f96b67_0
google-auth=2.37.0=pypi_0
googleapis-common-protos=1.66.0=pypi_0
gradio=4.44.1=pypi_0
gradio-client=1.3.0=pypi_0
greenlet=3.1.1=pypi_0
grpcio=1.68.1=pypi_0
h11=0.14.0=pypi_0
h2=4.1.0=pyhd8ed1ab_1
hpack=4.0.0=pyhd8ed1ab_1
httpcore=1.0.6=pypi_0
httptools=0.6.4=pypi_0
httpx=0.27.2=pypi_0
httpx-sse=0.4.0=pypi_0
huggingface-hub=0.25.2=pypi_0
humanfriendly=10.0=pypi_0
hyperframe=6.0.1=pyhd8ed1ab_1
idna=3.7=pyhd8ed1ab_0
importlib-metadata=8.5.0=pyha770c72_1
importlib-resources=6.4.5=pypi_0
intel-openmp=2023.1.0=h57928b3_46319
ipykernel=6.29.5=pyh4bbf305_0
ipython=8.18.1=pyh7428d3b_3
ipywidgets=8.1.5=pypi_0
isoduration=20.11.0=pypi_0
itsdangerous=2.2.0=pypi_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.4=pyhd8ed1ab_1
jiter=0.7.1=pypi_0
joblib=1.4.2=pypi_0
jpeg=9e=h8ffe710_2
json5=0.9.25=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter=1.1.1=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-events=0.10.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-server=2.14.2=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_1
jupyter_core=5.7.2=pyh5737063_1
jupyterlab=4.2.5=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.3=pypi_0
jupyterlab-widgets=3.0.13=pypi_0
kiwisolver=1.4.7=pypi_0
krb5=1.21.3=hdf4eb48_0
kubernetes=31.0.0=pypi_0
langchain=0.3.9=pypi_0
langchain-community=0.3.9=pypi_0
langchain-core=0.3.29=pypi_0
langchain-openai=0.2.9=pypi_0
langchain-text-splitters=0.3.2=pypi_0
langgraph=0.2.62=pypi_0
langgraph-checkpoint=2.0.5=pypi_0
langgraph-sdk=0.1.51=pypi_0
langsmith=0.1.144=pypi_0
lcms2=2.12=h83e58a3_0
lerc=3.0=h0e60522_0
libabseil=20240722.0=cxx17_he0c23c2_1
libblas=3.9.0=1_h8933c1f_netlib
libcblas=3.9.0=8_h719fc58_netlib
libdeflate=1.17=hcfcfb64_0
libhwloc=2.9.0=h51c2c0f_0
libiconv=1.17=hcfcfb64_2
libjpeg-turbo=2.0.0=hfa6e2cd_1000
liblapack=3.9.0=8_h719fc58_netlib
libpng=1.6.44=h3ca93ac_0
libprotobuf=5.27.5=hcaed137_2
libsentencepiece=0.2.0=h0bc6d0d_5
libsodium=1.0.20=hc70643c_0
libsqlite=3.45.3=hcfcfb64_0
libtiff=4.5.0=h8a3f274_0
libuv=1.48.0=hcfcfb64_0
libwebp=1.3.2=hcfcfb64_1
libwebp-base=1.3.2=hcfcfb64_1
libxml2=2.13.5=he286e8c_1
libzlib=1.3.1=h2466b09_2
lz4-c=1.9.4=hcfcfb64_0
m2w64-gcc-libgfortran=5.3.0=6
m2w64-gcc-libs=5.3.0=7
m2w64-gcc-libs-core=5.3.0=7
m2w64-gmp=6.1.0=2
m2w64-libwinpthread-git=5.0.0.4634.697f757=2
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.3=py39ha55989b_1
marshmallow=3.23.1=pypi_0
matplotlib=3.9.2=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_1
mdurl=0.1.2=pypi_0
mistune=3.0.2=pypi_0
mkl=2023.1.0=h6a75c08_48682
mkl-service=2.4.0=py39h2bbff1b_1
mkl_fft=1.3.10=py39h827c3e9_0
mkl_random=1.2.7=py39hc64d2fc_0
mmh3=5.0.1=pypi_0
monotonic=1.6=pypi_0
mpc=1.1.0=h7edee0f_1009
mpfr=4.0.2=h62dcd97_1
mpir=3.0.0=he025d50_1002
mpmath=1.3.0=pyhd8ed1ab_1
msgpack=1.1.0=pypi_0
msys2-conda-epoch=20160418=1
multidict=6.1.0=pypi_0
multiprocess=0.70.16=pypi_0
mypy-extensions=1.0.0=pypi_0
nbclient=0.10.0=pypi_0
nbconvert=7.16.4=pypi_0
nbformat=5.10.4=pypi_0
nest-asyncio=1.6.0=pyhd8ed1ab_1
networkx=3.2.1=pyhd8ed1ab_0
notebook=7.2.2=pypi_0
notebook-shim=0.2.4=pypi_0
numpy=1.26.4=pypi_0
oauthlib=3.2.2=pypi_0
onnxruntime=1.19.2=pypi_0
openai=1.55.0=pypi_0
openjpeg=2.5.2=hae555c5_0
openpyxl=3.1.5=pypi_0
openssl=3.3.2=h2466b09_0
opentelemetry-api=1.29.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.29.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.29.0=pypi_0
opentelemetry-instrumentation=0.50b0=pypi_0
opentelemetry-instrumentation-asgi=0.50b0=pypi_0
opentelemetry-instrumentation-fastapi=0.50b0=pypi_0
opentelemetry-proto=1.29.0=pypi_0
opentelemetry-sdk=1.29.0=pypi_0
opentelemetry-semantic-conventions=0.50b0=pypi_0
opentelemetry-util-http=0.50b0=pypi_0
orjson=3.10.11=pypi_0
overrides=7.7.0=pypi_0
packaging=24.1=pyhd8ed1ab_0
pandas=2.2.3=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pyhd8ed1ab_1
pickleshare=0.7.5=pyhd8ed1ab_1004
pillow=10.4.0=pypi_0
pip=24.2=pyh8b19718_1
platformdirs=4.3.6=pyhd8ed1ab_1
posthog=3.7.4=pypi_0
prometheus-client=0.21.0=pypi_0
prompt-toolkit=3.0.48=pyha770c72_1
propcache=0.2.0=pypi_0
protobuf=5.29.2=pypi_0
psutil=6.0.0=py39ha55e580_2
psycopg2=2.9.10=pypi_0
pthreads-win32=2.9.1=h2466b09_4
pure_eval=0.2.3=pyhd8ed1ab_1
pyarrow=17.0.0=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
pycparser=2.22=pyh29332c3_1
pydantic=2.10.0=pypi_0
pydantic-core=2.27.0=pypi_0
pydantic-extra-types=2.10.0=pypi_0
pydantic-settings=2.6.1=pypi_0
pydub=0.25.1=pypi_0
pygame=2.6.1=pypi_0
pygments=2.18.0=pyhd8ed1ab_1
pyparsing=3.2.0=pypi_0
pypdf=5.1.0=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.2.0=pypi_0
pyreadline3=3.5.4=pypi_0
pysocks=1.7.1=pyh09c184e_7
python=3.9.20=h8205438_1
python-dateutil=2.9.0.post0=pyhff2d567_1
python-dotenv=1.0.1=pypi_0
python-json-logger=2.0.7=pypi_0
python-multipart=0.0.17=pypi_0
python_abi=3.9=2_cp39
pytorch=2.5.0=py3.9_cpu_0
pytorch-mutex=1.0=cpu
pytz=2024.2=pypi_0
pywin32=307=py39ha51f57c_3
pywinpty=2.0.13=pypi_0
pyyaml=6.0.2=py39ha55e580_1
pyzmq=26.2.0=py39h03e5c00_3
referencing=0.35.1=pypi_0
regex=2024.9.11=pypi_0
requests=2.32.3=pyhd8ed1ab_1
requests-oauthlib=2.0.0=pypi_0
requests-toolbelt=1.0.0=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.9.4=pypi_0
rpds-py=0.20.0=pypi_0
rsa=4.9=pypi_0
ruff=0.7.4=pypi_0
safetensors=0.4.5=pypi_0
scikit-learn=1.5.2=pypi_0
scipy=1.13.1=pypi_0
semantic-version=2.10.0=pypi_0
send2trash=1.8.3=pypi_0
sentencepiece=0.2.0=hcbf5309_5
sentencepiece-python=0.2.0=py39hc0e734c_5
sentencepiece-spm=0.2.0=h0bc6d0d_5
setuptools=75.1.0=pyhd8ed1ab_0
shellingham=1.5.4=pypi_0
six=1.16.0=pyhd8ed1ab_1
sniffio=1.3.1=pypi_0
soupsieve=2.6=pypi_0
sqlalchemy=2.0.36=pypi_0
sqlite=3.45.3=hcfcfb64_0
stack_data=0.6.2=pyhd8ed1ab_0
starlette=0.41.3=pypi_0
sympy=1.13.1=pypi_0
tbb=2021.8.0=h91493d7_0
tenacity=9.0.0=pypi_0
terminado=0.18.1=pypi_0
threadpoolctl=3.5.0=pypi_0
tiktoken=0.8.0=pypi_0
tinycss2=1.3.0=pypi_0
tk=8.6.13=h5226925_1
tokenizers=0.20.1=pypi_0
tomli=2.0.2=pypi_0
tomlkit=0.12.0=pypi_0
torchaudio=2.5.0=py39_cpu
torchvision=0.20.0=py39_cpu
tornado=6.4.1=py39ha55e580_1
tqdm=4.66.5=pypi_0
traitlets=5.14.3=pyhd8ed1ab_1
transformers=4.45.2=pypi_0
typer=0.13.1=pypi_0
types-python-dateutil=2.9.0.20241003=pypi_0
typing-inspect=0.9.0=pypi_0
typing_extensions=4.12.2=pyha770c72_1
tzdata=2024.2=pypi_0
ucrt=10.0.22621.0=h57928b3_1
ujson=5.10.0=pypi_0
uri-template=1.3.0=pypi_0
urllib3=2.2.3=pyhd8ed1ab_1
uvicorn=0.32.1=pypi_0
vc=14.40=h2eaa2aa_1
vc14_runtime=14.40.33810=ha82c5b3_23
vs2015_runtime=14.40.33810=h3bf8584_23
watchfiles=0.24.0=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_1
webcolors=24.8.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
websockets=12.0=pypi_0
wheel=0.44.0=pyhd8ed1ab_0
widgetsnbextension=4.0.13=pypi_0
win_inet_pton=1.1.0=pyh7428d3b_8
wrapt=1.17.0=pypi_0
xxhash=3.5.0=pypi_0
xz=5.4.6=h8cc25b3_1
yaml=0.2.5=h8ffe710_2
yarl=1.15.4=pypi_0
zeromq=4.3.5=ha9f60a1_7
zipp=3.20.2=pyhd8ed1ab_0
zlib=1.3.1=h2466b09_2
zstandard=0.23.0=py39h9bf74da_1
zstd=1.5.6=h0ea2cb4_0
